ul(ng-repeat='option in question.qOptions')
    li.no-decoration: input(type='radio', name='{{question.qId}}', value='{{option.optionValue}}')span  {{option.optionChoice}}
p This Is coming from the RADIO.jade doc