div.starter-template
    div#messages(ng-show="errorMessage") {{ errorMessage }}

    h1 {{ proposalTitle }}
    p.lead {{ proposalSubTitle }}


    div(ng-repeat='blah in blahs')
        .preview {{blah.test}} {{$index}}
    div(ng-repeat='blah in blahs')
        input(type='text', ng-model='blah.test')
    button(ng-click='blahAdder();', name='Add Blah', value='Add Blah') Add Blah
    button(ng-click='blahSubmit();', name='Submit Blah', value='Submit Blah') Submit Blah


    form.form-register(role='form', name='proposalForm', ng-submit='addProposal()', ng-disabled='disabled')
        .form-group
            input.form-control(type='text', name='proposal_name', ng-model='proposal.proposal_name', placeholder='Proposal name', required)
            span(ng-show="hasError('proposal_name')") Proposal name is required
            span(ng-show="errorProposalName") {{ errorProposalName }}
        .form-group
            input.form-control(type='text', name='description', ng-model='proposal.description', placeholder='Description', required)
            span(ng-show="hasError('description')") Description is required
            span(ng-show="errorDescription") {{ errorDescription }}
        hr
        p.alert.alert-info: strong Start Adding Questions
        hr

        div(ng-repeat='a in newProposal.questionList')
            div.highlight
                .form-group
                    input.form-control(type='text', name='questiontitle[{{$index}}]', ng-model='proposal.questiontitle', placeholder='Question?', required)
                    span(ng-show="hasError('questiontitle')") A Question is required
                    span(ng-show="errorQuestiontitle") {{ errorQuestiontitle }}
                .form-group
                    select(ng-model="qtemplateView", ng-options="c.name for c in qtemplateViews").form-control.input-sm
                    br
                    ng-include(src="qtemplateView.value")
    button.btn.btn-default(ng-click='questionSaver($index)') Save this Question
    button.btn.btn-default(ng-click='questionAdder(4)') Add a Question
    hr
    button.btn.btn-success(type='submit', ng-click='submit()') Create Proposal
    &nbsp;
    a(href='/')
        button.btn.btn-primary(type="button") Cancel