div.starter-template
    div#messages(ng-show="errorMessage") {{ errorMessage }}

    h1 {{ proposalTitle }}
    p.lead {{ proposalSubTitle }}
    form.form-register(role='form', name='proposalForm', ng-submit='addProposal()', style='max-width: 300px;', ng-disabled='disabled')
        .form-group
            input.form-control(type='text', name='proposal_name', ng-model='proposal.proposal_name', placeholder='Proposal name', required)
            span(ng-show="hasError('proposal_name')") Proposal name is required
            span(ng-show="errorProposalName") {{ errorProposalName }}
        .form-group
            input.form-control(type='text', name='description', ng-model='proposal.description', placeholder='Description', required)
            span(ng-show="hasError('description')") Description is required
            span(ng-show="errorDescription") {{ errorDescription }}
        button.btn.btn-default(type='submit') Create Proposal
        &nbsp;
        a(href='/')
            button.btn.btn-primary(type="button") Cancel