div.starter-template
    div#messages(ng-show="errorMessage") {{ errorMessage }}

    h1 {{ proposalTitle }}
    p.lead {{ proposalSubTitle }}

    form.form-register(role='form', name='proposalForm', ng-submit='addProposal()', style='max-width: 300px;', ng-disabled='disabled')
        .form-group
            input.form-control(type='text', name='proposal_name', ng-model='proposal.proposal_name', placeholder='Proposal name', required)
            span(ng-show="hasError('proposal_name')") Proposal name is required
            span(ng-show="errorProposalName") {{ errorProposalName }}
        .form-group
            input.form-control(type='text', name='description', ng-model='proposal.description', placeholder='Description', required)
            span(ng-show="hasError('description')") Description is required
            span(ng-show="errorDescription") {{ errorDescription }}
        hr
        p: strong Start Adding Questions
        hr
        div.highlight
            .form-group
                input.form-control(type='text', name='questionTitle', ng-model='proposal.questionTitle', placeholder='Question?', required)
                span(ng-show="hasError('questionTitle')") A Question is required
                span(ng-show="errorProposalName") {{ errorProposalName }}
            .form-group
                select.form-control.input-sm
                    //add ng-change='' to these options ng-model='optionType'
                    option(value='radio' ) Multiple Choice
                    option(value='textbox'  ) Text Box
            hr
                //this section needs to be in a seperate view, and called in only if selected
            ng-include(src="'partials/qTemplateCreation-radio'")

        br
        //button.btn.btn-default(ng-click=(#)) Add Another Question
        button.btn.btn-default() Add a Question
        hr
        button.btn.btn-success(type='submit') Create Proposal
        &nbsp;
        a(href='/')
            button.btn.btn-primary(type="button") Cancel