div.starter-template
    h1.propHeader {{proposal.title}}
    h4.propSubHeader {{proposal.description}}
    br
    p Fill out the form below to get a price: {{grandTotal}}
    //p stuff: {{value}}
    br
    br
    form(name="{{proposal.title}}", action="/templates/proposalResults", method="post")
        div(ng-repeat='question in proposal.questions')
            h3 {{question.title}}
            p {{question.type}}
            ng-include(src="question.qTemplate")
            br