div.starter-template
    //div.row
    //div.col-md-6.pull-left
    h1 Hi, {{ currentUserInfo.first_name }} {{ currentUserInfo.last_name }}.
    p This page provides a directory of all of your proposals.
    br
    button.btn.btn-success(type='button')
        a.color-grey(href='/addProposal') Create a new Proposal
    br
    hr
    //div.col-md-6.pull-right
    h4 There are currently {{proposals.length}} proposals in the system.

    div.bs-example
        table.table.table-striped
            thead
                tr
                    th.tdcenter Proposal Name
                    th.tdcenter Description
                    th.tdcenter Date Created
                    th.tdcenter Edit
                    th.tdcenter Delete
            tbody(ng-repeat='proposal in proposals')
                tr
                    td
                        a(href='/proposalDetails/{{proposal._id}}') {{proposal.title}}
                    td {{proposal.description}}
                    td {{proposal.created | date:'MM/dd/yyyy @ h:mma'}}
                    td
                        a(href='editProposal/{{proposal._id}}')
                            span.glyphicon.glyphicon-edit
                            span.glyphicon-class  Edit
                    td
                        a(href='javascript:void(0);', ng-click='deleteProposal(proposal._id)')
                            span.glyphicon.glyphicon-trash
                            span.glyphicon-class  Delete


