div.starter-template
    h1.propHeader {{proposal.title}}
    h4.propSubHeader {{proposal.description}}
    br
    p Fill out the form below to get a price: {{grandTotal}}
    //p stuff: {{value}}
    br
    br
    p {{proposal.questionList[2]}}
    //div(ng-repeat='question in proposal.questionList')
    //    h3 {{question.title}}
    //    p {{question.type}}
    //    ng-include(src="question.qtemplate")
    //    br