div.starter-template
    h1 Hi, {{ currentUserInfo.first_name }} {{ currentUserInfo.last_name }}.
    p This page provides a directory of all of your proposals.
    br
    button.btn.btn-success(type='button')
        a.color-grey(href='/addProposal') Create a new Proposal
    br
    hr

    h4 There are currently {{proposals.length}} proposals in the system.

    div(ng-repeat='proposal in proposals')
        h3 {{proposal.proposal_name}}
        div {{proposal.description}}
        a(href='editProposal/{{proposal._id}}') Edit
        | -
        a(href='javascript:void(0);', ng-click='deleteProposal(proposal._id)') Delete
    br
    br