div.starter-template
    h1 Hi, {{ currentUserInfo.first_name }}.
    p This page provides a directory of all of your proposals.
    br

    h4 You currently have {{ currentUserInfo.completedProposals.length }} completed proposals.
    h4 You currently have {{ }} proposals that aren't yet completed.

    h4 Click a proposal to alter or delete it.
    p There are: {{proposals.length}} proposals in the System
    div(ng-repeat='proposal in proposals')
        h3 {{proposal.name}}
        div {{proposal.description}}
        a(href='editProposal/{{proposal._id}}') Edit
        | -
        a(href='deleteProposal/{{proposal._id}}') Delete
    br
    br

    // ng-include(src='\'partials/contacts\'')   //Testing why the Loops aren't working
    div(ng-controller="ContactController")
        h4 How many Contacts are there?
        p There are {{contacts.length}} contacts in the System
        div(ng-repeat='contact in contacts')
            h3 {{contact.name}}
            div {{contact.description}}
            a(href='editContact/{{contact._id}}') Edit
            | -
            a(href='deleteContact/{{contact._id}}') Delete