input.form-control(type='text', name='opt1', ng-model='proposal.opt1', placeholder='Option 1 Name', required)
input.form-control.input-sm(type='text', name='opt1value', ng-model='proposal.opt1Value', placeholder='Option cost', required)
br
input.form-control(type='text', name='opt2', ng-model='proposal.op2', placeholder='Option 2 Name', required)
input.form-control.input-sm(type='text', name='opt2value', ng-model='proposal.opt2Value', placeholder='Option cost', required)

//button.btn.btn-default(ng-click=(#)) Add Another Question
button.pull-right.btn.btn-default() Add an Option