input.form-control(type='text', name='opt1', ng-model='proposal.opt1', placeholder='Option 1 Name', required)
input.form-control.input-sm.shade(type='text', name='opt1value', ng-model='proposal.opt1Value', placeholder='Option cost', required)
br
input.form-control(type='text', name='opt2', ng-model='proposal.op2', placeholder='Option 2 Name', required)
input.form-control.input-sm.shade(type='text', name='opt2value', ng-model='proposal.opt2Value', placeholder='Option cost', required)

div(ng-repeat='a in optionCount')
    ng-include(src="'partials/qtemplateCreation-radioOption'")
button.btn.btn-default.rightspace(ng-click='optionAdder(optionCount+1)') Add an Option