input.form-control(type='text', name='questionOption', ng-model='proposal.questionOption', placeholder='Option 1', required)
input.form-control.input-sm(type='text', name='questionOptionValue', ng-model='proposal.questionOptionValue', placeholder='Option 1: Value', required)
//button.btn.btn-default(ng-click=(#)) Add Another Question
button.pull-right.btn.btn-default() Add an Option