br
input.form-control(type='text', name='opt2', ng-model='proposal.op2', placeholder='Option 2 Name', required)
input.form-control.input-sm.shade(type='text', name='opt2value', ng-model='proposal.opt2Value', placeholder='Option cost', required)